<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.startcaft.ssm.mapper.UserCustomMapper" >
    
    <!-- 检查登录名的重复情况 -->
    <select id="checkUserName" resultType="int" parameterType="string">
        SELECT COUNT(login_name) FROM tb_user WHERE login_name = #{value}
    </select>
    
    <!-- sql片段 -->
    <sql id="Base_Column_List" >
    	id, login_name, create_time, user_email, is_enable, nick_name, user_pwd, department_id
  	</sql>
  	
    <sql id="page_user_list">
        <if test="userCustom != null">
            <if test="userCustom.loginName != null and userCustom.loginName != ''">
                and login_name like '%${userCustom.loginName}%'
            </if>
        </if>
        and department_id = #{userCustom.departmentId} limit #{start},#{end}
    </sql>
    
    <resultMap type="com.startcaft.ssm.po.extension.UserCustom" id="result_list_user">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="create_time" property="createTime"/>
        <result column="user_email" property="userEmail"/>
        <result column="is_enable" property="isEnable"/>
        <result column="nick_name" property="nickName"/>
        <result column="user_pwd" property="userPwd"/>
        <result column="department_id" property="departmentId"/>
    </resultMap>
    
    <select id="findUserLisyByDepart" parameterType="com.startcaft.ssm.po.extension.UserQueryVo" resultMap="result_list_user">
        SELECT 
        <include refid="Base_Column_List"></include>
        FROM tb_user
        <where>
            <include refid="page_user_list"></include>
        </where>
    </select>
    
    <select id="findUserLisyCount" parameterType="com.startcaft.ssm.po.extension.UserQueryVo" resultType="int">
        SELECT count(*) FROM tb_user  
        <where>
            and department_id = #{userCustom.departmentId}
            <if test="userCustom != null">
                <if test="userCustom.loginName != null and userCustom.loginName != ''">
	                and login_name like '%${userCustom.loginName}%'
	            </if>
            </if>
        </where>
    </select>
    
</mapper>